{
    margin: 0;
    padding: 0;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.links ul li{
    list-style: none;
    display: inline-flex;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.links ul li a{
    text-decoration: none;
    font-size: 3vmin;
    font-weight: 900;
    font-family: 'Almendra', serif;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Poppins', sans-serif;
    color: black;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
        
}

span{
    color: deepskyblue;
}

.container{
    background-image: url("5xQ3up.jpg");
    height: 91.2vh;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    position: relative;
}
i {
    color: green;
    font-size: 50px;
}

.text h2{

    text-transform: uppercase;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 7vmin;
    color: white;

}


.middle{
    background-color: rgba(19, 1, 1, 0.225);
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    
    
}
.line{
    height: 5px;
    width: 290px;
    background-color: rgb(22, 214, 22);
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 70px;
}
.middle p{
    font-size: 3.3vmin;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 0px;
    margin-top: 0px;
}
a:hover{
    background-color: green;
    padding: 10px;
    color: white !important;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
button:hover
{
    background-color: skyblue;
    color: green;
    cursor: pointer;
}